/* nav section style */
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-img {
    display: flex;
    margin-top: -9px;
}

#nav-plane {
    margin-top: 15px;
    margin-right: 10px;
}

.r {
    font-size: 2rem;
    color: darkolivegreen;
}

.nav-tittle-travel {
    color: rgb(239, 66, 66);
}

nav ul li {
    display: inline-block;
    line-height: 30px;
}

nav ul li a {
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
}

#nav-home {
    color: orangered;
}

nav a:hover {
    background-color: aqua;
    color: white;
    padding: 5px;
    transition: 1s;
    border-radius: 7px;
}

.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Explore section style*/

.explore-container {
    height: 500px;
    text-align: center;
    background-image: url(Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 10px;
}

.explore-all-content {

    padding: 70px 180px;
}

.explore-tittle {
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

.explore-tittle,
.explore-discription {
    color: whitesmoke;
}

.explore-discription {
    margin: 30px 0px;
    padding: 0px 180px;
}

.explore-input button,
.read {
    color: gray;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 6px;
    height: 3rem;
    width: 10rem;
    font-size: 1rem;
    border: none;
}

.explore-input {
    background-color: #f8f5f549;
    padding: 20px;
    border-radius: 10px;
}

#when-aro-btn {
    float: right;
}

button:hover {
    background-color: burlywood;
    color: white;
}

#btn-find,
.read,
.btn-book,
.btn-see,
.simple-btn-see,
.Subscribe-btn,
.famous-btn-click {
    color: white;
    background-color: rgb(255, 84, 0);
}

#btn-find:hover {
    background-color: aqua;
    color: black;
}

/* popular section style */

.popular-container {
    margin-top: 4rem;
}

.popular-all-contant {
    display: flex;

}

.popular-left-contant {
    margin-right: 50px;
    padding: 2rem;
}

.popular-tittle {
    font-size: 3rem;
}

.popular-list {
    padding-left: 2rem;
}

.popular-contant,
.description,
.newsletter-description,
.footer-description {
    color: rgb(90, 90, 93);
    padding-right: 5rem;
}

.popular-there-t {
    font-size: 2rem;
}

#popular-img:hover {
    background-color: aquamarine;
    opacity: .7;
}

/* Choose Your Destination Section style*/

.choose-contant {
    text-align: center;
}

.choose-tittle,
.deals-tittle,
.simple-tittle {
    font-size: 3rem;
}

.description {
    text-align: center;
    padding: 0 200px;
}

.choose-img-box img {
    padding: .4rem;
}

.chooes-img-one,
.chooes-img-two,
.chooes-img-three {
    display: flex;
}

.chooes-img-two,
.chooes-img-three {
    margin-top: -90px;

}

.choose-malsives-img1 {
    width: 570px;
    height: 300px;
}

#maldives,
#indonesia {
    left: 230px;
    bottom: 215px;
}

#srilanka {
    left: 140px;
    bottom: 200px;
}

#north-america {
    left: 140px;
    bottom: 195px;
}

#kashmir {
    left: 90px;
    bottom: 195px;
}

#bangladesh {
    left: 140px;
    bottom: 200px;
}

#bandarban {
    left: 270px;
    bottom: 200px;
}

.choose-center-text-box {
    position: relative;
}

.choose-center-text {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}

/* why Choose Us section style */

.why-Choose-container {
    margin-top: -50px;
}

.why-head {
    text-align: center;
    margin-top: 1rem;
}

.why-description {
    padding: 0 15rem;
}

.why-tittle {
    font-size: 3rem;
    font-weight: bolder;
    font-style: italic;
}

#img-icon {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
}

.why-Handpicked,
.why-world,
.why-best {
    width: 30rem;
    padding: 1rem 3rem 1rem 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;

}

.why-Handpicked {
    border: 2px solid rgb(242, 228, 209);
    background-color: rgb(243, 243, 239)
}

.why-world {
    border: 2px solid rgb(198, 242, 227);
    background-color: rgb(255, 240, 251);
    opacity: .7;
}

.why-best {
    border: 2px solid rgb(234, 215, 188);
    background-color: rgb(238, 233, 226);
    border-radius: 1rem 5rem;
    margin: auto;
}

.why-two-content {
    display: flex;
}

/* Famous Travel Section style */

.famous-container{
    display: flex;
    margin-top: 4rem;
}
.famous-content{
    border: 2px double lightgreen;
    border-radius: 1rem;
    width: 32rem;
    height: 26rem;
    padding: 20px;
    padding-right: 30px;
}
.famous-tittle{
    font-size: 2rem;
    padding-bottom: 1rem;
}
.famous-travel{
    font-weight: bolder;
    font-size: 2.5rem;
    font-style: italic;
    color:rgb(239, 197, 146);
}
.famous-btn-click{
    width: 7rem;
    height: 2rem;
    border: none;
    margin-top: 10px;
   
}
.famous-img{
    width: 32rem;
    height: 28rem;
    padding-left: 1rem;
 border-radius: 0px 15px 20px 75px;
}

/* deals & discount section style */

.deals-container {
    margin-top: 5rem;
}

.deals-head-container {
    text-align: center;
}

.img-box-border {
    border: 2px solid tomato;
    width: 30rem;
    height: 20rem;
    border-radius: 15px;
    padding: 3rem;
    background-color: rgba(249, 245, 245, 0.817);
    border: none;
}

.img-icon-content {
    display: flex;
}

.deals-img-main-box1 {
    background-image: url(Group\ 39.png);
    background-repeat: no-repeat;
    padding: 3% 3% 3% 46%;
    margin-top: 2rem;
    margin-right: 2rem;
    border-radius: 20px;
}

.deals-img-main-box2 {
    background-image: url(Group\ 40.png);
    background-repeat: no-repeat;
    padding: 3% 37% 3% 3%;
    margin-top: 2rem;
    border-radius: 20px;
}

#img-icon-box {
    width: 3%;
    height: 3%;
    padding-top: 1rem;
    padding-left: 1rem;

}

.btn-book,
.simple-btn-see {
    width: 9rem;
    height: 3.25rem;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.btn-see {
    width: 11rem;
    height: 3rem;
    border: none;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 2rem;
    margin-left: 30rem;
}

/* A Simple Perfect Place section style */

.simple-container {
    display: flex;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
}

.simple-content {
    padding-right: 2rem;
    margin-top: 4rem;
}

.simple-tittle {
    font-size: 2.5rem;
    font-weight: bolder;
}

.simple-ul {
    font-weight: bolder;
    padding-right: 1rem;
    margin-left: 10px;
}

.simple-vedio {
    margin-top: 10px;
    padding-left: 50px;
}

/* Newsletter section style */

.newsletter-container {
    display: flex;
    margin-top: 4rem;
}

.newsletter-content {
    border: 2px solid orangered;
    width: 24rem;
    height: 20rem;
    padding: 3rem;
    border-radius: 10px;
    margin-right: 1rem;
}

.newsletter-tittle {
    font-size: 2rem;
}

.Subscribe-btn,
.newsletter-enter-your {
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
}

.newsletter-enter-your {
    font-size: 1rem;
    padding-left: 1rem;
    background-color: rgb(237, 234, 231);
}

.newsletter-travel {
    /* margin-top: 10px; */
    font-size: 1.5rem;
    color: white;
    margin: 0px;
}

.newsletter-save {
    font-size: 2rem;
    color: white;
    font-weight: bolder;
    margin: 0px;
}

.newsletter-over-content-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(241, 103, 33);
    width: 20rem;
    height: 8rem;
    border-radius: 12px;
    text-align: center;
    position: relative;
    left: 340px;
    bottom: 195px;
    rotate: -20deg;
}

/* footer section style */

.footer-border {
    border: 2px solid blueviolet;
    width: 73rem;
    height: 30rem;
    background-color: rgb(237, 240, 240);
    margin-top: -4rem;
    border-radius: 10px;
    border: none;
}

.border {
    text-align: center;
    border: none;
}

#footer-plane {
    padding-top: 1.2rem;
    text-align: center;

}

.footer-tittle-img {
    padding-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.footer-all-icon {
    width: 2rem;
    height: 2rem;
    margin: 2rem;
    padding-left: 30rem;
    display: flex;
}

#footer-icon {
    padding: .5rem;
}

.footer-end {
    padding-top: 1.5rem;
}

#footer-icon:hover {
    background-color: aquamarine;
    transform: translate(10px);
}

/* media quary mobile device start*/

@media screen and (max-width:600px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 42%;
        height: 100vh;
        top: 80px;
        left: -120%;
        text-align: center;
        transition: all .5s;
        background-color: beige;
    }

    nav ul li {
        display: block;
        margin: 5px;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
    }

    .explore-all-content {
        padding: 20px;

        margin: 0px;
    }

    .explore-container {
        height: fit-content;
    }

    .explore-container {
        height: 600px;
        width: auto;
    }

    .explore-tittle,
    .explore-discription {
        color: grey;
    }

    .explore-tittle {
        font-size: 2rem;
    }

    .explore-discription {
        margin: 0px;
        padding: 40px;

    }

    .explore-input button,
    .read {

        margin-bottom: 15px;

        border-radius: 6px;
        font-size: 20px;
        width: 20rem;
    }

    .description {
        text-align: center;
        padding: 30px;
        margin-top: -40px;
    }

    .popular-all-contant,
    .chooes-img-one,
    .chooes-img-two,
    .chooes-img-three,
    .why-two-content,
    .simple-container,
    .newsletter-container,
    .famous-container {
        display: block;
    }

    .popular-container {
        margin-top: -50px;
    }

    .choose-img-box img {
        width: auto;
        height: auto;
        max-width: 580px;
    }

    .choose-img-box>img {
        margin-bottom: 0px;
    }

    .choose-malsives-img-box {
        margin-top: -90px;
    }

    #media-width-height {
        width: 580px;
        height: 350px;
    }

    #srilanka {
        left: 180px;
        bottom: 195px;
    }

    #north-america {
        left: 150px;
        bottom: 195px;
    }

    #kashmir {
        left: 180px;
        bottom: 195px;
    }

    #bangladesh {
        left: 160px;
        bottom: 200px;
    }

    #bandarban {
        left: 180px;
        bottom: 200px;
    }

    .why-description {
        padding: 0rem;
    }

    .img-box-border {
        border: 2px solid tomato;
        width: 25rem;
        height: 20rem;
        border-radius: 15px;
        padding: 1rem;
        background-color: rgba(249, 245, 245, 0.817);
        border: none;
    }

    .img-icon-content {
        display: flex;
    }

    .deals-img-main-box1 {
        background-image: url(Group\ 39.png);
        background-repeat: no-repeat;
        padding: 13% 65% 5% 10%;
        border-radius: 10px;
        width: 8rem;

    }

    .deals-img-main-box2 {
        background-image: url(Group\ 40.png);
        background-repeat: no-repeat;
        padding: 10% 0% 5% 12%;
        margin-top: 2rem;
    }

    #img-icon-box {
        width: 3%;
        height: 3%;
        padding-top: 1rem;
    }
.famous-img{
    margin-top: 1rem;
}
    
    .simple-container {
        margin-right: 1rem;
    }

    .simple-content {
        padding-right: 1px;
        margin-top: 4rem;
    }

    .simple-vedio {
        margin-top: 5px;
        padding-left: 1px;
    }

    .btn-see {
        display: none;
    }

    .newsletter-content {
        margin-bottom: 30px;
        width: 33rem;
        height: 25rem;
    }

    .footer-border {
        width: 42rem;
        height: 30rem;
        text-align: center;
        padding: 1rem;
    }

    .border {
        text-align: center;
        border: none;
    }

    .footer-all-icon {
        padding-left: 15rem;
    }

}